In [37]:
import pandas as pd

In [38]:
states = pd.read_csv("data/stateData.csv")
covid_df = pd.read_csv("data/us-states.csv")
#lat_long = pd.read_csv("data/CV_LatLon_21Jan_12Mar.csv")
covid_df.head()
#states.head()
#lat_long.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [39]:
cleaned_states = states.fillna(0)
cleaned_covid = covid_df.fillna(0)

In [43]:
cleaned_states = cleaned_states.rename(columns={"GeoName": "state"})

In [44]:
cleaned_covid

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
12219  2020-10-10       Virginia    51  157905    3354
12220  2020-10-10     Washington    53   97223    2289
12221  2020-10-10  West Virginia    54   17913     381
12222  2020-10-10      Wisconsin    55  155752    1470
12223  2020-10-10        Wyoming    56    7455      54

[12224 rows x 5 columns]

In [45]:
cleaned_states.to_csv("data/cleaned_csv/cleaned_stateData.csv")
cleaned_covid.to_csv("data/cleaned_csv/cleaned_us-state-covid-data.csv")